body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ccfbfe; /* Light background color */
  position: relative;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #323f49;
}
h1 {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 1.6rem;
}
h2 {
  position: absolute;
  top: 80px;
  left: 15px;
  font-size: 1.1rem;
}
label {
  color: #323f49;
}

#messageBoard {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #cdaca1;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
}

#messageContainer {
  width: 45%;
  margin-left: 20px;
  background-color: #cd8987;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll; /* Enable scrolling for messages */
  margin-left: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.submit {
  background-color: #cdd6dd;
  color: #cd8987;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
img {
  opacity: 10%;
  width: 300px;
}

.like-button {
  /* Overall styling */
  display: inline-flex; /* Maintain a consistent height-width ratio */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  padding: 0px; /* Add spacing around content */
  border: none; /* Remove default border */
  border-radius: 50%; /* Make it circular */
  cursor: pointer; /* Indicate interactivity */
  font-weight: bold; /* Emphasize text */
  /* Base colors */
  width: 8%;
}
/* Hover effect 
.likebutton:hover {
  background-color: #e0e0e0; /* Slightly darker gray on hover 
}*/

/* Active state 
.likebutton:active {
  background-color: #d0d0d0; /* Even darker gray when pressed 
}*/

/* Styling for the "thumb up" icon 
.likebutton:before {
  content: "";
  display: inline-block; /* Ensure it takes up space
  margin-right: 5px; /* Add spacing between icon and text 
  width: 2px; /* Adjust icon size 
  height: 2px;

  background-size: cover; /* Scale icon to fill space 
}*/

@media (max-width: 768px) {
  body {
    font-family: sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ccfbfe;
    flex-direction: column;
  }
  #messageBoard,
  #messageContainer {
    width: 80%;
    margin-top: 5px;
  }
  #messageBoard {
    height: 20%;
  }
  @media (max-width: 425px) {
    h1,
    h2 {
      display: flex;
      align-items: center;
      font-size: 1rem;
    }
  }
}
